
$maxWidth: 1440px;
$first-color: #8D96BD;
$second-color: #3D4F9F;


body{
    max-width: $maxWidth;
    min-width: 450px;
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    margin: auto !important;
    padding: 0 15px;
}

button{
    width: 130px;
    height: 43px;
    border: none;
}

nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 90px;
    margin-top: 20px;


    ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        text-align: center;
        
        li{
            margin-right: 30px;
            .color {
                fill: #697CA6;
              }
              
        }
    }

    a{
        color: #697CA6;
        text-decoration: none;
        &:hover{
            color: #5E81FE;
        }
    }
    
 //////////////////////////////////////////////  
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #D2E1FF;
    color: #3A79FF;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
////////////////////////////////////


.productivity{
    img{
        width: 100%;
        object-fit: contain;
        min-width: 40%;
    }
}

.sponsors{
    display: flex;
    justify-content: space-around;
    height: 145px;
    align-items: center;
    img{
        width: 116px;
        height: 27px;
    }
}

.mobileApp{
    
    background-color:#F5F8FF ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $second-color;

    img{
        margin-top: 120px;
        width: 100%;
    }

    .little-margin{
       margin-left: 90px;
        
       div{
        margin-top: 70px;
       }
    }
    
    
}

.middle-font-size{
    font-size: 30px;
    // line-height: 10px;
}

.high-font-size{
    font-size: 40px;
}

.blue-btn{
    background-color: #4C85FF;
    color: #fff;
    &:hover{
        transition:ease-in-out 0.2s;
        background-color: #D1D1E4;
        color: #ADB4D2; 
    }
    
}

.white-btn{

    background-color: #D1D1E4;
    color: #ADB4D2;
}

.about-app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/clouds.png);
    margin: 120px 0;
    color: $second-color;

    .app-box{
        display: grid;
        grid-template-columns: 33% 10px 33% 10px 33% 10px 33%;
        justify-content: space-evenly;
        align-items:center ;
        margin: 80px 0;
        div{
            
            align-items: center;
            text-align: center;
        }

        
    }

    
}

.buttons{
    display: flex;
    align-items: center;
    margin-top: 40px;
    p{
        margin: 0 30px;
        letter-spacing: 5px;
    }
}

.indicators{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.indicator-first-box{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    background-color: #6888FF;
    width: 100%;
    color: #fff;
    
    img{
        width: 65px;
        height: 66px;
    }

    div{
        margin: 40px 40px;
    }
}


.indicator-second-box{
    background-color: #E9EFFF;
    width: 100%;
    color: #5E80FF;
    img{
        width: 71px;
        height: 62px;
    }

    div{
        margin: 40px 40px;
    }
}

.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    background-color: #F5F8FF;
    color: #3D4F9F;

    .how-start{
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin-top: 50px;
        padding: 0 20px;
        height: 400px;
        .how-start-box{
            margin-bottom: 29px;
        }

        img{

            width: 460px;
            height: 360px;
        }


    }
}

.white-button{
    background-color: #fff;
    border: none;
    width: 200px;
    color: $first-color;
    &:hover{
        transition: ease-in 0.2s;
        background-color: #D2E1FF;
        cursor: pointer;
        color: #3A79FF;
    }
}

.get_started{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/clouds2.png);
    background-color: #5E80FF;
    height: 447px;
    color: #fff;
}

.get_started__buttons{
    height: 43px;
    margin-top: 50px;
    button{
        margin: 0 -5px;
        padding: 0 ;
        width: 155px;
        font-size: 15px;
        color: #565F82;
        transition: ease-in 0.2s;
        &:hover{
            transition: ease-in 0.2s;
            background-color: #5E80FF;
            color: #C7D3FF;
            border: 1px solid rgb(158, 175, 252);
        }
    }

    & :nth-child(2){
        transition: ease-in 0.2s;
        background-color: #5E80FF;
        color: #C7D3FF;
        border: 1px solid rgb(158, 175, 252);
        
        &:hover{
            background-color: #fff;
            color: #565F82; 
            transition: ease-in 0.2s;
        }
    }
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
    background-color: #FCFDFF;
}

.sign-up__box{
    margin: 0 55px;
}

.sign-up__title{
    font-size: 25px;
    font-weight: 600;
    color: #3D4F9F;
}

.sign-up__text{
    color: #8D96BD;
}

.sign-up__send{
   margin: 0 0 0 10px; 
   border-radius: 5px;
   background-color: #4D6CE1;
   box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75); 
}

.sign-up__form{
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    color: #7A85AD;
    background-color: #EFEFF7;
    width: 280px;
    height: 40px;
}

footer{
    height: 250px;
}

.footer__rights{
    margin: 30px 0 0 190px;
    color: #AEB8D0;
}


@media(max-width:450px){

    section{
        min-width: 690px;
    }

    header{
        display:none;
    }

    .productivity{
        img{
            // width: 100%;
            width: 690px;
            height: 400px;
        }
    }

    .sponsors{
        justify-content: flex-start;
        height: 60px;
        img{
            
            
            margin-left: 10px;
        }
    }

    .mobileApp{
        width: 620px;
        padding: 30px 0;
        margin-top: 60px;
        img{
            width: 100%;
        }
    }

    .about-app{
        flex-wrap: wrap;
        margin:40px 0 40px 0;
        background-size:auto;
        .app-box{
            flex-wrap: wrap;
            
             grid-template-columns:130px 30px 130px 50px 130px 30px 130px;
            
            .media{
                margin-left: 20px;
            }
        }

        .buttons{
            width: 400px;
        }
    }

    .how-start{
        height: 600px!important;
        padding-right: 40px!important;
        // margin-bottom: 100px;
    }

    footer{
        width: 690px;
        nav{
            display: flex;
            flex-direction: column;
        }
    }

    .sign-up{
        padding-right: 20px;
    }
}
}