body {
  max-width: 1440px;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  width: 130px;
  height: 43px;
  border: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 90px;
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  text-align: center;
}
nav ul li {
  margin-right: 30px;
}
nav ul li .color {
  fill: #697CA6;
}
nav a {
  color: #697CA6;
  text-decoration: none;
}
nav a:hover {
  color: #5E81FE;
}
nav button {
  background-color: #D2E1FF;
  cursor: pointer;
  color: #3A79FF;
  border: none;
  border-radius: 5px;
  width: 113px;
  height: 43px;
  margin-bottom: 5px;
}

.productivity img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  min-width: 40%;
}

.sponsors {
  display: flex;
  justify-content: space-around;
  height: 145px;
  align-items: center;
}
.sponsors img {
  width: 116px;
  height: 27px;
}

.mobileApp {
  background-color: #F5F8FF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #3D4F9F;
}
.mobileApp img {
  margin-top: 120px;
  width: 100%;
}
.mobileApp .little-margin {
  margin-left: 90px;
}
.mobileApp .little-margin div {
  margin-top: 70px;
}

.middle-font-size {
  font-size: 30px;
}

.high-font-size {
  font-size: 40px;
}

.blue-btn {
  background-color: #4C85FF;
  color: #fff;
}
.blue-btn:hover {
  transition: ease-in-out 0.2s;
  background-color: #D1D1E4;
  color: #ADB4D2;
}

.white-btn {
  background-color: #D1D1E4;
  color: #ADB4D2;
}

.about-app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/clouds.png);
  margin: 120px 0;
  color: #3D4F9F;
}
.about-app .app-box {
  display: grid;
  grid-template-columns: 33% 10px 33% 10px 33% 10px 33%;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px 0;
}
.about-app .app-box div {
  align-items: center;
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.buttons p {
  margin: 0 30px;
  letter-spacing: 5px;
}

.indicators {
  display: grid;
  grid-template-columns: 50% 50%;
}

.indicator-first-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  background-color: #6888FF;
  width: 100%;
  color: #fff;
}
.indicator-first-box img {
  width: 65px;
  height: 66px;
}
.indicator-first-box div {
  margin: 40px 40px;
}

.indicator-second-box {
  background-color: #E9EFFF;
  width: 100%;
  color: #5E80FF;
}
.indicator-second-box img {
  width: 71px;
  height: 62px;
}
.indicator-second-box div {
  margin: 40px 40px;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  background-color: #F5F8FF;
  color: #3D4F9F;
}
.start .how-start {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 50px;
  padding: 0 20px;
  height: 400px;
}
.start .how-start .how-start-box {
  margin-bottom: 29px;
}
.start .how-start img {
  width: 460px;
  height: 360px;
}

.white-button {
  background-color: #fff;
  border: none;
  width: 200px;
  color: #8D96BD;
}
.white-button:hover {
  transition: ease-in 0.2s;
  background-color: #D2E1FF;
  cursor: pointer;
  color: #3A79FF;
}

.get_started {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../img/clouds2.png);
  background-color: #5E80FF;
  height: 447px;
  color: #fff;
}

.get_started__buttons {
  height: 43px;
  margin-top: 50px;
}
.get_started__buttons button {
  margin: 0 -5px;
  padding: 0;
  width: 155px;
  font-size: 15px;
  color: #565F82;
  transition: ease-in 0.2s;
}
.get_started__buttons button:hover {
  transition: ease-in 0.2s;
  background-color: #5E80FF;
  color: #C7D3FF;
  border: 1px solid rgb(158, 175, 252);
}
.get_started__buttons :nth-child(2) {
  transition: ease-in 0.2s;
  background-color: #5E80FF;
  color: #C7D3FF;
  border: 1px solid rgb(158, 175, 252);
}
.get_started__buttons :nth-child(2):hover {
  background-color: #fff;
  color: #565F82;
  transition: ease-in 0.2s;
}/*# sourceMappingURL=style.css.map */